{% extends 'base.html' %}
{% load static %}
{% block head_meta %}

<script src="{% static 'applicantctl/bootstrap-4.3.1-dist/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'applicantctl/popper.js/popper.min.js' %}"></script>
<script src="{% static 'applicantctl/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>

<!--bootstrap css-->
<!--local datapicker-->

<!--form.media-->
{% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

{% endblock %}

{% block content %}{% endblock %}
